@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E5E5E5;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

/* === HEADER START === */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    transition: all .2s ease;
}

.header__logo:hover {
    transform: scale(1.07);
}

.header__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.header__item {
    margin-right: 40px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__item svg {
    padding-bottom: 3px;
}

.header__link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
}

.header__button {
    width: 120px;
    height: 46px;
    background: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    padding-top: 4px;
}

.header__link:hover, .header__link:focus,
.header__button:hover, .header__button:focus {
    opacity: .4;
}

/* === HEADER END === */


/* === HERO BLOCK END === */

.hero {
    min-height: 582px;
    background: center / cover url(../images/hero-bg-min.jpg) no-repeat;
    padding-top: 205px;
}

.hero__title {
    font-size: 71px;
    line-height: 78px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 35px;
}

.hero__subtitle {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 60px;
}

/* =======  COMMON BUTTON  ======= */
.button--green {
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 60px;
    font-size: 16px;
    line-height: 30px;
    background: #5AB963;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    padding-top: 3px;
    transition: all 0.6s ease;
}

.hero__button:hover, .hero__button:focus {
    background: #326537;
}

/* === HERO BLOCK END === */


/* === PROMOTION BLOCK START === */

.promotion-block {
    min-height: 528px;
    margin: 120px 0;
}

.promotion-block__header {
    max-width: 507px;
    font-weight: 100;
    font-size: 24px;
    line-height: 36px;
    color: #999999;
    padding-bottom: 54px;
}

/* =======  COMMON BOLD TEXT  ======= */
.bold--text {
    font-weight: 700;
    color: #000000;
}

.promotion-block__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.promotion-block__card {
    height: 330px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
    padding-left: 41px;
    transition: all .3s ease;
}

.promotion-block__card:hover {
    transform: scale(1.05);
}

.card__icon {
    margin: 51px 0 25px 0;
}

.card__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 13px;
}

.card__description {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
    line-height: 24px;
    color: #999999;
    max-width: 272px;
    margin-right: 64px;
}

/* === PROMOTION BLOCK END === */


/* === SANDWICH BLOCK START === */

.sandwich-block {
    max-width: 1380px;
    height: 720px;
    margin: 0 auto;
    object-fit: cover;
}

/* === SANDWICH BLOCK END === */


/* === FOURTH BLOCK START === */

.fourth-block {
    min-height: 398px;
    position: relative;
}

.fourth-block:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 76.75%;
    height: 1px;
    background-color: #CCCCCC;
}

.fourth-block__wrapper {
    min-height: 168px;
    max-width: 761px;
    margin: 115px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth-block__description {
    max-width: 685px;
    font-weight: 100;
    font-size: 24px;
    line-height: 36px;
    color: #999999;
    text-align: center;
    margin-bottom: 6px;
}

.link--green {
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 11px;
    line-height: 18px;
    color: #5AB963;
}

.link--green:hover {
    color: #225A28;
    transform: scale(1.05);
}

/* === FOURTH BLOCK END === */


/* === DISHES BLOCK START === */

.dishes {
    min-height: 1154px;
    position: relative;
}

.dishes:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 76.75%;
    height: 1px;
    background-color: #CCCCCC;
}

.dishes__wrapper {
    /* margin: 120px 0; */
    margin-top: 120px;
}

.dishes__dish {
    display: flex;
    min-height: 330px;
    margin-bottom: 90px;
}

.dish__picture {
    margin-right: 100px;
}

.dish__info {
    width: 370px;
}

.dish__title {
    font-weight: 100;
    font-size: 24px;
    line-height: 36px;
    color: #999999;
}

.dish__text {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
    line-height: 24px;
    color: #999999;
}

.dishes__dish:nth-child(even) {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    margin-bottom: 110px;
}

.dishes__dish:nth-child(even) .dish__picture {
    /*
        т.к. контент расположен справа
        margin-right: 0;
        margin-left: 100px;
    */
    margin: 0 0 0 100px;
}

.dishes__footer {
    text-align: center;
}

/* === DISHES BLOCK END === */


/* === PARTY ON BLOCK START === */

.party-on-block {
    min-height: 411px;
}

.party-on-block__wrapper {
    max-width: 1170px;
    margin: 150px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item__header {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #5AB963;
    margin-bottom: 15px;
    position: relative;
}

.item__header::after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color:#5AB963;
    position: absolute;
    top: 50%;
    margin-left: 90px;
    animation: shake 5s ease infinite;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.item__text {
    max-width: 483px;
    font-size: 24px;
    line-height: 36px;
    color: #999999;
}

.party-on-block__button {
    font-weight: 700;
}

.party-on-block__button:hover, .party-on-block__button:focus {
    background: #326537;
}

/* === PARTY ON BLOCK END === */


/* === FOOTER START === */

.footer {
    width: 100%;
    height: 399px;
    background: #0A0E1A;
}

.footer__wrapper {
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
}

.footer__coryright {
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 585px;
}

.footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__item {
    margin-bottom: 25px;
}

.footer__item:last-child {
    padding-right: 0;
}

.footer__link{
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

.footer__link:hover {
    color: #666666;
}

.footer__icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 147px;
    margin-top: 5px;
}

.icons__link {
    margin-right: 19px;
    height: 10px;
}

.icons__link:hover {
    filter: invert(65%);
}

/* === FOOTER END === */